@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

.logo {
    width: 30px;
    height: 30px;
}

.logoDashboard {
    width: 20px;
    height: 20px;
}

.mg-top {
    margin-top: 30px;
}

.mg-left {
    margin-left: 10px;
}

.homeImg {
    width: 500px;
    height: 400px;
}

.font-family {
    font-family: 'Josefin Sans', sans-serif;
}

.box-padding {
    padding: 0 80px;
}

.big {
    font-size: 2em;
    color: black;
}

.project {
    font-size: 1em;
    color: rgb(137, 135, 135);
    margin-top: 5px;
}

.para-font {
    font-size: .9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(109, 106, 106);
}

.label-font {
    font-size: small;
    color: darkgray;
}

.container nav ul li {
    list-style: none;
    padding-top: 30px;
}

.pd-btm {
    padding-bottom: 275px;
}

.navlink {
    text-decoration: none;
    color: rgb(60, 59, 59);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-list {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.leave-list {
    display: block;
    overflow-y: scroll;
    width: 100%;
    max-height: 350px;
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin-right: 8px;
    cursor: pointer;
    color: rgb(58, 58, 58);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 18vw;
}

.update-box {
    width: 500px;
    height: 250px;
    margin-left: 20px;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 5px;
    background-color: rgb(224, 232, 250);
}

.borderless-textarea {
    border: none;
    width: 470px;
    height: 150px;
    padding: 20px;
    outline: none;
    margin-top: 20px;
}

.form-control {
    outline: none;
    border-radius: none;
    border: none;
    border-bottom: 3px solid grey;
}
.form-group{
    margin-top: 20px;
}

.text-grey{
    color: rgb(97, 95, 95);
}

.bg-register{
    width: 100%;
    background-color: rgb(224, 232, 250);
    padding: 10px 30px;
}

.leave-child{
    border: 1px solid rgb(187, 185, 185);
    height: 400px;
    background-color:  rgb(224, 232, 250);
    border-radius: 5px;
}

.text-grey{
    color: rgb(68, 67, 67);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
}

.card-margin-top{
    margin-top: 10px;
    width: 382px;
    padding: 10px;
}

.pd-0{
    margin: 0px;
}

.mg-right{
    margin-right: 30px;
}

.mg-btm{
    margin-top: 10px;
}

.mg-rgt{
    margin-right: 5px;
}

.font{
    font-size: x-small;
}

.leave-box{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.para-f-fmly{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box-pd{
    padding-top: 14px;
}

.form-control{
    width: 70%;
}

.col-form-label{
    width: 50%;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 767px) {
    .para-font {
        font-size: .5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(109, 106, 106);
    }

    .box-padding {
        padding: 0 10px;
    }
}

@media (max-width: 950px) {
    .para-font {
        font-size: .5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(109, 106, 106);
    }

    .box-padding {
        padding: 0 10px;
    }
}