@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Poppins:wght@400;600;700&display=swap');


.logo {
    width: 30px;
    height: 30px;
}

.logoDashboard {
    width: 20px;
    height: 20px;
    margin-left: 32px;
}

.bdr-btm{
    border-bottom: 0.5px solid #b5b5ba;
}

.nav-font{
    font-size: 0.9em;
}

.mg-top {
    margin-top: 30px;
}

.mg-left {
    margin-left: 10px;
}

.dashImg {
    width: 400px;
    height: 300px;
}

.font-family {
    font-family: 'Poppins', sans-serif;
}

.box-padding {
    padding: 0 80px;
}

.big {
    font-size: 2em;
    color: black;
}

.project {
    font-size: 1em;
    color: rgb(137, 135, 135);
    margin-top: 5px;
}

.para-font {
    font-size: .7em;
    font-family: 'Poppins', sans-serif;
    color: rgb(109, 106, 106);
}

.label-font {
    font-size: small;
    color: darkgray;
}

.container nav ul li {
    list-style: none;
    padding-top: 30px;
}

.pd-btm {
    padding-bottom: 275px;
}

.navlink {
    text-decoration: none;
    color: rgb(60, 59, 59);
    font-family: 'Poppins', sans-serif;
}

.card-list {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.leave-list {
    display: block;
    overflow-y: scroll;
    width: 100%;
    max-height: 360px;
}

.employee-list {
    display: block;
    overflow-y: scroll;
    width: 80%;
    max-height: 360px;
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin-right: 8px;
    cursor: pointer;
    color: rgb(58, 58, 58);
    font-family: 'Poppins', sans-serif;
    width: 18vw;
}

.update-box {
    width: 500px;
    height: 250px;
    margin-left: 10px;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 5px;
    background-color: #ECECF4;
}

.line{
    width: 100%;
    height: 5px;
}

.borderless-textarea {
    border: none;
    width: 470px;
    height: 150px;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
}

.form-group{
    margin-top: 20px;
    width: 90%;
}

.modal-margin {
    margin-left: 60px;
}

.text-grey{
    color: rgb(97, 95, 95);
}

.btn-color:hover {
    color: #4253F0 !important;
    border: 1px solid #4253F0;
}

.font-set{
    font-size: 0.7em;
    color: rgb(112, 111, 111);
}

.login-btn{
    background-color: #4253F0;
}

.font-update{
    font-size: 0.9em;
}

.bg-register{
    width: 100%;
    background-color: #ECECF4;
    padding: 10px 30px;
}

.pencil{
    cursor: pointer;
    margin-top: 5px;
}

.bg-color{
    background-color: #ECECF4;
}

.f-size{
    font-size: 0.8em;
}

.lb-f-size{
    font-size: .9em;
}

.br-wt{
    width: 70%;
    border: 1px solid rgb(214, 213, 213);
    border-radius: 20px;
}

.cursor-pointer{
    cursor: pointer;
}
.align-center{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.leave-child{
    height: 400px;
    background-color:  #ECECF4;
}

.active {
    color: #007bff;   
}

.text-grey{
    color: rgb(68, 67, 67);
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
}

.card-margin-top{
    margin-top: 10px;
    width: 382px;
    padding: 10px;
}

.pd-0{
    margin: 0px;
}

.mg-right{
    margin-right: 30px;
}

.mg-btm{
    margin-top: 10px;
}

.mg-rgt{
    margin-right: 5px;
}

.font{
    font-size: x-small;
}

.text-color {
    color : #4253F0;
}

.btn-color{
    background-color : #4253F0;
}

.outer-box{
    width: 100%;
    height: 70vh;
    background-color: #4253F0;
    padding: 30px 50px;
}

.leave-box{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.para-f-fmly{
    font-family: 'Poppins', sans-serif;
}
.box-pd{
    padding-top: 14px;
}

.btn-size{
    padding: 3px 5px;
}

@media (max-width: 767px) {
    .para-font {
        font-size: .5em;
        font-family: 'Poppins', sans-serif;
        color: rgb(109, 106, 106);
    }

    .box-padding {
        padding: 0 10px;
    }
}

@media (max-width: 950px) {
    .para-font {
        font-size: .5em;
        font-family: 'Poppins', sans-serif;
        color: rgb(109, 106, 106);
    }

    .box-padding {
        padding: 0 10px;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}

.cursor-pointer{
    cursor: pointer;
}