@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

.logo {
    width: 30px;
    height: 30px;
}

.logoDashboard {
    width: 20px;
    height: 20px;
}

.mg-top {
    margin-top: 30px;
}

.homeImg {
    width: 500px;
    height: 400px;
}

.font-family {
    font-family: 'Josefin Sans', sans-serif;
}

.box-padding {
    padding: 0 80px;
}

.big{
    font-size: 2em;
    color: black;
}

.project{
    font-size: 1em;
    color: rgb(137, 135, 135);
    margin-top: 5px;
}

.para-font{
    font-size: .9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(109, 106, 106);
}

.label-font{
    font-size: small;
    color: darkgray;
}

.container nav ul li {
    list-style: none;
    padding-top: 30px;
}

.pd-btm{
    padding-bottom: 275px;
}

.navlink{
    text-decoration: none;
    color: rgb(60, 59, 59);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-list {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 16px;
    margin-right: 8px; 
  }
  
@media (max-width: 767px) {
    .para-font{
        font-size: .5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(109, 106, 106);
    }

    .box-padding {
        padding: 0 10px;
    }
}

@media (max-width: 950px) {
    .para-font{
        font-size: .5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(109, 106, 106);
    }

    .box-padding {
        padding: 0 10px;
    }
}

